.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  transition: opacity .5s linear;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 730px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
